[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
alabaster = "*"
boto3 = "*"
botocore = "*"
bz2file = "*"
certifi = "*"
click = "*"
gensim = "*"
idna = "*"
imagesize = "*"
itsdangerous = "*"
jieba = "*"
jmespath = "*"
kiwisolver = "*"
ladon = "*"
lxml = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
pyparsing = "*"
python-dateutil = "*"
python-memcached = "*"
pytz = "*"
redis = "*"
requests = "*"
s3transfer = "*"
scikit-learn = "*"
scipy = "*"
singledispatch = "*"
six = "*"
sklearn = "*"
smart-open = "*"
snowballstemmer = "*"
soaplib = "*"
sphinxcontrib-websupport = "*"
stop-words = "*"
urllib3 = "*"
opencv-python = "*"
tensorboard = "*"
tensorflow = "==1.13.1"
Babel = "*"
Cycler = "*"
Django = "*"
Flask = "*"
Jinja2 = "*"
MarkupSafe = "*"
Pygments = "*"
Werkzeug = "*"
Keras = "*"
Keras-Applications = "*"
Keras-Preprocessing = "*"
celery = "*"
django-celery = "*"

[requires]
python_version = "3.7"
